%h2 Регистрация
= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :multipart => true }) do |f|
  = devise_error_messages!
  .well
    %div
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true
    %p
    %div
      = f.label :nickname, "Никнейм"
      %br/
      = f.text_field :nickname
    %p
    %div
      = f.label :password, "Пароль"
      - if @validatable
        %i
          (минимум #{@minimum_password_length} символов)
      %br/
      = f.password_field :password, autocomplete: "off"
    %p
    %div
      = f.label :password_confirmation, "Подтвердите пароль"
      %br/
      = f.password_field :password_confirmation, autocomplete: "off"
    %p
    %div
      = f.label :avatar, "Аватар", :for => "user_avatar", :class => "btn btn-info"
      = f.file_field :avatar, :style => "display: none"
    %p
    %div= f.submit "Создать аккаунт", :class => "btn btn-success"
= render "devise/shared/links"
