<body>
  <%= render '/persons/main_menu'%>
  <div class="container col-lg-10 pull-right">
      <div class="row">
        <div class="col-lg-3">
          <div class="text-center">
              <% if current_user.avatar_file_size != nil%><%= image_tag current_user.avatar.url(:thumb), class: "user-avatar" %><%end%>
              
              <h1><%= current_user.nickname %>
              <div class="btn-group">
                  <a class="btn btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                   Действия
                  <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                     <li><%= link_to 'Изменить пароль', edit_user_registration_path, method: :get %>
                     <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
                     <li><%= link_to 'Изменить аватар', persons_avatar_update_path, method: :get %>  
                  </ul>
              </div>
              </h1>

              <div class="pull-center" hidden>
                <h3>Друзья</h3>
                <div class="row">
                <div class="col-md-6">
                  <table class="table table-striped">
                    <tr><td><h4>Вы добавили</span></h4></td></tr>
                    <% @friendships.each do |f|%>
                          <tr><td><h4><%= link_to f.friend.nickname, "/users/index/#{f.friend.id}"%> <%= link_to (image_tag "red_cross.png", alt: "Ups", size: "10x10"), friendships_destroy_path(id: f), method: :delete %></h4></td></tr>
                        <% end %>
                  </table>
                </div>
                <div class="col-lg-6">
                  <table class="table table-striped">
                    <tr><td><h4>Вас добавили</h4></td></tr>
                    <% @inverse_friendships.each do |f|%>
                          <tr><td><h4><%= link_to f.user.nickname, "/users/index/#{f.user.id}"%> <%= link_to (image_tag "red_cross.png", alt: "Ups", size: "10x10"), friendships_destroy_path(id: f), method: :delete %></h4></h4></td></tr>
                    <% end %>
                  </table>
                </div>
                </div>
              </div>
          </div>
        </div>

        <div class="col-lg-8 pull-right">

          <div class="personal-info">

          <div>

          <div class="create-message-form">
            <%= form_for current_user.user_messages.new, remote: true, url: user_user_messages_path(current_user), :html => { :multipart => true }, method: :post do |f| %>
              <p/><div>
              <%= f.text_area :text , :style => "width: 650px; height: 100px" %>
            
              </div>
              <p><%= f.label :picture, "Прикрепить изображение", :for => "user_message_picture", :class => "btn btn-attach"%>
                <%= f.file_field :picture, style: "display: none"%></p>

              <%= f.hidden_field :user_id %>

              <div><%= f.submit "Создать", :class => "btn btn-success" %></div>
            <% end %>
          </div>

          <div id="show-create-message-form" class="text-center">
            <h4>Создать сообщение</h4>
          </div>

        </div>

        <div id="wall" class="col-lg-8 pull-right" >
            <%= render current_user.user_messages.reverse_order.first %>
            <%= render partial: 'person', locals: {page: 1}%>
        </div>

        <div class="col-lg-8 pull-right text-center">
          <%= link_to "next", persons_change_page_path, remote: true, method: :post, id: "page" %>
        </div>
        
      </div>
      <p/>
  </div>

</body>


